In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter
import seaborn as sns
from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt 
import statsmodels.api as sm
from statsmodels.tsa.api import Holt

In [2]:
url = 'https://ds.codeup.com/saas.csv'
df = pd.read_csv(url)
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [3]:
df.columns = [col.lower() for col in df]

In [4]:
df.month_invoiced = pd.to_datetime(df.month_invoiced)

#### 2. Split data (train/validate/test) and resample by any period except daily. Aggregate using the sum.

In [6]:
# 50% of total 
train_size = int(len(df) * 0.5)
train_size
# 30% of total 
validate_size = int(len(df) * 0.3)
validate_size
test_size = int(len(df) - train_size - validate_size)

train_size,validate_size,test_size

(395229, 237137, 158092)

In [7]:
sma = round(train['amount'].mean(), 2)

NameError: name 'train' is not defined